#This is the Bed Heater configuration file
#This build DOES NOT use the silicone heatpad, it uses a 24v aluminium heatbed salvaged from an old bed-slinger
#Please make sure to change the settings below to match your heater and sensor
#DO NOT foget to PID tune your bed before doing any printing!

########################################
# Bed Heater
########################################

[heater_bed]
heater_pin: PD12            #SSR Pin
sensor_type: Generic 3950
sensor_pin: PC0
max_power: 1.0              #Lower to 0.7 if using silicone heatpad to avoid bed warping
pwm_cycle_time: 0.100       #Adjust this to change amount of times bed switched in 1 second (0.2=5 times)
control = pid
pid_kp = 73.611
pid_ki = 1.895
pid_kd = 714.951
min_temp: 0
max_temp: 135

[verify_heater heater_bed]
max_error: 120
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
check_gain_time: 100
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
hysteresis: 5
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
heating_gain: 2
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.